services:
  frontend:
    build: 
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=${BACKEND_URL:-http://localhost:7000}

  backend:
    build: 
      context: ./backend
      args:
        - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
    container_name: backend
    ports:
      - "7000:7000"
    volumes:
      - ./backups:/app/backups
    environment:
      - DB_URL=${DB_URL:-jdbc:postgresql://db:5432/mydb}
      - DB_USER=${DB_USER:-postgres}
      - DB_PASS=${DB_PASS:-postgres}
      - BACKUP_PATH=/app/backups
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: db
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-mydb}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backups:/backups   
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    profiles:
      - dev

volumes:
  db_data:
