.MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.MainPage_Header{
    width: 100%;
}

.MainPage_Routes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}