:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, color 0.3s; 

  --button-background: #3D8D7A;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Layout */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Styl przycisku */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.3s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root.dark {
  --button-bg: #1a1a1a;
  --button-txt-col: rgba(255, 255, 255, 0.87);
  --button-hover-bg: #990000;
  --bg: #242424;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);
}

:root.light {
  --button-bg: #3D8D7A;
  --button-txt-col: #FBFFE4;
  --button-hover-bg: #4e8f80;
  --bg: #FBFFE4;
  color: #1a1a1a;
  background-color: var(--bg);
}

:root.dark button {
  color: rgba(255, 255, 255, 0.87);;         
  background-color: #1a1a1a; 
  border: 1px solid #0e0e0e; 
  transition: all 0.3s ease;
}
:root.dark button:hover {
  background-color: #990000;  
  box-shadow: 0 0 10px #ff0000aa; 
  transform: translateY(-2px);
  border-color: #ff4444;          
}
:root.dark a:hover {
  color: #ff4d4d; 
}

:root.light button {
  color: #FBFFE4;         
  background-color: #3D8D7A; 
  border: 1px solid #B3D8A8; 
  transition: all 0.3s ease;
}
:root.light button:hover {
  background-color: #4e8f80;  
  box-shadow: 0 0 10px #598b80; 
  transform: translateY(-2px);
  border-color: #598b80;          
}
:root.light a:hover {
  color: #ff4d4d; 
}

:root.light input {
  background-color: #4e8f80;
}

:root.light input::placeholder {
  color: #FBFFE4;
}
