.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.Header_Title {
  font-size: 2em;
  font-weight: bold;
}

.Header_Title_Flow {
  color: #800000;
  font-size: 1.2em;
}